/**
 * 11.0 Media Queries
 * -----------------------------------------------------------------------------
 */

/* Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See http://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

@media screen and (max-width: 400px) {
	.list-view .site-content .post-thumbnail {
		background: none;
		width: auto;
		z-index: 2;
	}

	.list-view .site-content .post-thumbnail img {
		float: left;
		margin: 0 10px 3px 0;
		width: 84px;
	}

	.list-view .site-content .entry-header {
		background-color: transparent;
		padding: 0;
	}

	.list-view .content-area {
		padding: 0 10px;
	}

	.list-view .site-content .hentry {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin: 0;
		min-height: 60px;
		padding: 12px 0 9px;
	}

	.list-view .site-content .cat-links,
	.list-view .site-content .type-post .entry-content,
	.list-view .site-content .type-page .entry-content,
	.list-view .site-content .type-post .entry-summary,
	.list-view .site-content .type-page .entry-summary,
	.list-view .site-content footer.entry-meta {
		display: none;
	}

	.list-view .site-content .entry-title {
		clear: none;
		font-size: 15px;
		font-weight: 900;
		line-height: 1.2;
		margin-bottom: 6px;
		text-transform: none;
	}

	.list-view .site-content .format-aside .entry-title,
	.list-view .site-content .format-link .entry-title,
	.list-view .site-content .format-quote .entry-title {
		display: block;
	}

	.list-view .site-content .entry-meta {
		background-color: transparent;
		clear: none;
		margin: 0;
		text-transform: none;
	}

	.archive-header,
	.page-header {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin: 24px auto 0;
		padding-bottom: 24px;
	}

	.error404 .page-header {
		border-bottom: 0;
		margin: 0 auto 24px;
		padding: 0 10px;
	}
}

@media screen and (min-width: 401px) {

	a.post-thumbnail:hover img {
		opacity: 0.85;
	}

	.full-size-link:before,
	.parent-post-link:before,
	.site-content span + .byline:before,
	.site-content span + .comments-link:before,
	.site-content span + .edit-link:before,
	.site-content span + .entry-date:before {
		content: "";
	}

	.attachment span.entry-date:before,
	.entry-content .edit-link a:before,
	.entry-meta .edit-link a:before,
	.site-content .byline a:before,
	.site-content .comments-link a:before,
	.site-content .entry-date a:before,
	.site-content .featured-post:before,
	.site-content .full-size-link a:before,
	.site-content .parent-post-link a:before,
	.site-content .post-format a:before {
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font: normal 16px/1 Genericons;
		text-decoration: inherit;
		vertical-align: text-bottom;
	}

	.site-content .entry-meta > span {
		margin-right: 10px;
	}

	.site-content .format-video .post-format a:before {
		content: "\f104";
	}

	.site-content .format-audio .post-format a:before {
		content: "\f109";
	}

	.site-content .format-image .post-format a:before {
		content: "\f473";
	}

	.site-content .format-quote .post-format a:before {
		content: "\f106";
		margin-right: 2px;
	}

	.site-content .format-gallery .post-format a:before {
		content: "\f103";
		margin-right: 4px;
	}

	.site-content .format-aside .post-format a:before {
		content: "\f101";
		margin-right: 2px;
	}

	.site-content .format-link .post-format a:before {
		content: "\f107";
		position: relative;
		top: 1px;
	}

	.site-content .featured-post:before {
		content: "\f308";
		margin-right: 3px;
		position: relative;
		top: 1px;
	}

	.site-content .entry-date a:before,
	.attachment .site-content span.entry-date:before {
		content: "\f303";
		margin-right: 1px;
		position: relative;
		top: 1px;
	}

	.site-content .byline a:before {
		content: "\f304";
	}

	.site-content .comments-link a:before {
		content: "\f300";
		margin-right: 2px;
	}

	.entry-content .edit-link a:before,
	.entry-meta .edit-link a:before {
		content: "\f411";
	}

	.site-content .full-size-link a:before {
		content: "\f402";
		margin-right: 1px;
	}

	.site-content .parent-post-link a:before {
		content: "\f301";
	}

	.list-view .site-content .hentry {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		padding-top: 48px;
	}

	.list-view .site-content .hentry:first-of-type,
	.list-view .site-content .hentry.has-post-thumbnail {
		border-top: 0;
		padding-top: 0;
	}

	.archive-header,
	.page-header {
		margin: 0 auto 60px;
		padding: 0 10px;
	}

	.error404 .page-header {
		margin-bottom: 24px;
	}

	.search-box-wrapper {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	position: relative;
	top: 60px;
	right: 0;
	width: 100%;
	// z-index: -1;
}
}

@media screen and (min-width: 594px) {

	.site-content .entry-header {
		padding-right: 30px;
		padding-left: 30px;
	}

	.site-content .has-post-thumbnail .entry-header {
		margin-top: -48px;
	}
}

@media screen and (min-width: 673px) {

	.header-main {
		padding: 0 30px;
	}

	.search-toggle {
		margin-right: 18px;
	}

	.search-box .search-field {
		width: 50%;
	}

	.content-area {
		float: left;
		width: 100%;
	}

	.site-content {
		// margin-right: 33.33333333%;
	}

	.site-content .has-post-thumbnail .entry-header {
		margin-top: 0;
	}

	.archive-header,
	.comments-area,
	.image-navigation,
	.page-header,
	.page-content,
	.post-navigation,
	.site-content .entry-content,
	.site-content .entry-summary,
	.site-content footer.entry-meta {
		padding-right: 30px;
		padding-left: 30px;
	}

	.singular .site-content .hentry.has-post-thumbnail {
		margin-top: 0;
	}

	// .full-width .site-content {
	// 	margin-right: 0;
	// }

	.full-width .site-content .has-post-thumbnail .entry-header,
	.full-width.singular .site-content .hentry.has-post-thumbnail,
	.full-width.home .site-content .hentry.has-post-thumbnail {
		margin-top: -48px;
	}

	#secondary,
	#supplementary {
		padding: 0 30px;
	}

	.content-sidebar {
		border: 0;
		float: right;
		margin-left: -33.33333333%;
		padding: 48px 30px 24px;
		position: relative;
		width: 33.33333333%;
	}

	.grid .featured-content .hentry {
		float: left;
		width: 50%;
	}

	.grid .featured-content .hentry:nth-child( 2n+1 ) {
		clear: both;
	}

	.grid .featured-content .entry-header {
		border-color: #000;
		border-style: solid;
		border-width: 12px 10px;
		height: 96px;
		padding: 0;
	}

	.slider .featured-content .entry-title {
		font-size: 22px;
		line-height: 1.0909090909;
	}

	.slider .featured-content .entry-header {
		min-height: inherit;
		padding: 24px 30px 48px;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 50%;
		z-index: 3;
	}

	.slider-control-paging {
		background: transparent;
		margin-top: -48px;
		padding-left: 20px;
		width: 50%;
	}

	.slider-direction-nav {
		clear: none;
		float: right;
		margin-top: -48px;
		width: 98px;
	}

	.slider-direction-nav li {
		border: 0;
		padding: 0 1px 0 0;
	}

	.slider-direction-nav li:last-child {
		padding: 0 0 0 1px;
	}

	.slider-direction-nav a {
		height: 48px;
	}

	.slider-direction-nav a:before {
		line-height: 48px;
	}

	.site-info {
		padding: 15px 30px;
	}
}

@media screen and (min-width: 783px) {
	.header-main {
		padding-right: 0;
	}

	.search-toggle {
		margin-right: 0;
	}

	/* Fixed Header */

	.masthead-fixed .site-header {
		position: fixed;
		top: 0;
	}

	.admin-bar.masthead-fixed .site-header {
		top: 32px;
	}

	.masthead-fixed .site-main {
		margin-top: 48px;
	}

	/* Navigation */

	.site-navigation li .current_page_item > a,
	.site-navigation li .current_page_ancestor > a,
	.site-navigation li .current-menu-item > a,
	.site-navigation li .current-menu-ancestor > a {
		color: #fff;
	}

}

@media screen and (min-width: 810px) {
	.attachment .entry-attachment .attachment {
		margin-right: -168px;
		margin-left: -168px;
		max-width: 810px;
	}

	.attachment .site-content .attachment img {
		display: block;
		margin: 0 auto;
	}

	.contributor-avatar {
		margin-left: -168px;
	}

	.contributor-summary {
		float: left;
	}

	.full-width .site-content blockquote.alignleft,
	.full-width .site-content blockquote.alignright {
		width: -webkit-calc(50% + 130px);
		width:         calc(50% + 130px);
	}

	.full-width .site-content blockquote.alignleft,
	.full-width .site-content img.size-full.alignleft,
	.full-width .site-content img.size-large.alignleft,
	.full-width .site-content img.size-medium.alignleft,
	.full-width .site-content .wp-caption.alignleft {
		margin-left: -168px;
	}

	.full-width .site-content .alignleft {
		clear: left;
	}

	.full-width .site-content blockquote.alignright,
	.full-width .site-content img.size-full.alignright,
	.full-width .site-content img.size-large.alignright,
	.full-width .site-content img.size-medium.alignright,
	.full-width .site-content .wp-caption.alignright {
		margin-right: -168px;
	}

	.full-width .site-content .alignright {
		clear: right;
	}
}

@media screen and (min-width: 846px) {
	// .content-area,
	// .content-sidebar {
	// 	padding-top: 72px;
	// }

	.site-content .has-post-thumbnail .entry-header {
		margin-top: -48px;
	}

	.comment-list .trackback,
	.comment-list .pingback,
	.comment-list article {
		margin-bottom: 36px;
		padding-top: 36px;
	}

	.comment-author .avatar {
		height: 34px;
		top: 2px;
		width: 34px;
	}

	.comment-author,
	.comment-awaiting-moderation,
	.comment-content,
	.comment-list .reply,
	.comment-metadata {
		padding-left: 50px;
	}

	.comment-list .children {
		margin-left: 20px;
	}

	.full-width.singular .site-content .hentry.has-post-thumbnail,
	.full-width.home .site-content .hentry.has-post-thumbnail {
		margin-top: -72px;
	}

	.featured-content {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1008px) {
	.search-box-wrapper {
		padding-left: 182px;
	}

	.main-content {
		float: left;
	}

	.site-content {
		// margin-right: 29.04761904%;
		margin: 0 75px;
		// padding: 0 5em;
		// margin-left: 182px;
	}

	.site-content .entry-header {
		margin-top: 0;
	}

	.site-content .has-post-thumbnail .entry-header {
		margin-top: 0;
	}

	.content-sidebar {
		margin-left: -29.04761904%;
		width: 29.04761904%;
	}

	.site:before {
		background-color: #000;
		content: "";
		display: none;
		height: 100%;
		min-height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 182px;
		z-index: 2;
	}

	#secondary {
		background-color: transparent;
		border: 0;
		display: none;
		clear: none;
		float: left;
		margin: 0 0 0 -100%;
		min-height: 100vh;
		width: 122px;
	}

	.primary-sidebar {
		padding-top: 0;
	}

	.site-description {
		display: block;
		margin: -3px 0 21px;
	}

	.site-description:empty {
		margin: 0;
	}

	.secondary-navigation {
		font-size: 11px;
		margin: 0 -30px 48px;
		width: 182px;
	}

	.secondary-navigation li {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		position: relative;
	}

	.secondary-navigation a {
		padding: 10px 30px;
	}

	.secondary-navigation ul ul {
		background-color: #299546;
		position: absolute;
		top: 0;
		left: -999em;
		width: 182px;
		z-index: 99999;
	}

	.secondary-navigation li li {
		border-top: 0;
	}

	.secondary-navigation li:hover > a,
	.secondary-navigation li.focus > a {
		background-color: #299546;
		color: #fff;
	}

	.secondary-navigation ul ul a:hover,
	.secondary-navigation ul ul li.focus > a {
		background-color: #41a62a;
	}

	.secondary-navigation ul li:hover > ul,
	.secondary-navigation ul li.focus > ul {
		left: 162px;
	}

	.secondary-navigation .menu-item-has-children > a {
		padding-right: 38px;
	}

	.secondary-navigation .menu-item-has-children > a:after {
		-webkit-font-smoothing: antialiased;
		content: "\f501";
		display: inline-block;
		font: normal 8px/1 Genericons;
		position: absolute;
		right: 26px;
		top: 14px;
		vertical-align: text-bottom;
	}

	.footer-sidebar .widget,
	.primary-sidebar .widget {
		font-size: 12px;
		line-height: 1.5;
	}

	.footer-sidebar .widget {
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		float: left;
		padding: 0 30px;
		width: 25%;
	}

	.footer-sidebar .widget h1,
	.primary-sidebar .widget h1 {
		font-size: 20px;
		line-height: 1.2;
	}

	.footer-sidebar .widget h2,
	.primary-sidebar .widget h2 {
		font-size: 18px;
		line-height: 1.3333333333;
	}

	.footer-sidebar .widget h3,
	.primary-sidebar .widget h3 {
		font-size: 16px;
		line-height: 1.5;
	}

	.footer-sidebar .widget h4,
	.primary-sidebar .widget h4 {
		font-size: 14px;
		line-height: 1.7142857142;
	}

	.footer-sidebar .widget h5,
	.primary-sidebar .widget h5 {
		font-size: 12px;
		line-height: 2;
	}

	.footer-sidebar .widget h6,
	.primary-sidebar .widget h6 {
		font-size: 11px;
		line-height: 2.1818181818;
	}

	.footer-sidebar .widget code,
	.footer-sidebar .widget kbd,
	.footer-sidebar .widget tt,
	.footer-sidebar .widget var,
	.footer-sidebar .widget samp,
	.footer-sidebar .widget pre,
	.primary-sidebar .widget code,
	.primary-sidebar .widget kbd,
	.primary-sidebar .widget tt,
	.primary-sidebar .widget var,
	.primary-sidebar .widget samp,
	.primary-sidebar .widget pre {
		font-size: 11px;
		line-height: 1.6363636363;
	}

	.footer-sidebar .widget blockquote,
	.primary-sidebar .widget blockquote {
		font-size: 14px;
		line-height: 1.2857142857;
	}

	.footer-sidebar .widget blockquote cite,
	.primary-sidebar .widget blockquote cite {
		font-size: 12px;
		line-height: 1.5;
	}

	.footer-sidebar .widget input,
	.footer-sidebar .widget textarea,
	.primary-sidebar .widget input,
	.primary-sidebar .widget textarea {
		font-size: 12px;
		padding: 3px 2px 4px 4px;
	}

	.footer-sidebar .widget input[type="button"],
	.footer-sidebar .widget input[type="reset"],
	.footer-sidebar .widget input[type="submit"],
	.primary-sidebar .widget input[type="button"],
	.primary-sidebar .widget input[type="reset"],
	.primary-sidebar .widget input[type="submit"] {
		padding: 5px 15px 4px;
	}

	.footer-sidebar .widget .widget-title,
	.primary-sidebar .widget .widget-title {
		font-size: 11px;
		font-weight: 900;
		line-height: 1.6363636363;
		margin-bottom: 18px;
	}

	.footer-sidebar .widget_twentyfourteen_ephemera .entry-title,
	.footer-sidebar .widget_twentyfourteen_ephemera .entry-meta,
	.footer-sidebar .widget_twentyfourteen_ephemera .wp-caption-text,
	.footer-sidebar .widget_twentyfourteen_ephemera .post-format-archive-link,
	.footer-sidebar .widget_twentyfourteen_ephemera .entry-content table,
	.primary-sidebar .widget_twentyfourteen_ephemera .entry-title,
	.primary-sidebar .widget_twentyfourteen_ephemera .entry-meta,
	.primary-sidebar .widget_twentyfourteen_ephemera .wp-caption-text,
	.primary-sidebar .widget_twentyfourteen_ephemera .post-format-archive-link,
	.primary-sidebar .widget_twentyfourteen_ephemera .entry-content table {
		font-size: 11px;
		line-height: 1.6363636363;
	}

	.footer-sidebar .widget_archive li,
	.footer-sidebar .widget_categories li,
	.footer-sidebar .widget_links li,
	.footer-sidebar .widget_meta li,
	.footer-sidebar .widget_nav_menu li,
	.footer-sidebar .widget_pages li,
	.footer-sidebar .widget_recent_comments li,
	.footer-sidebar .widget_recent_entries li,
	.primary-sidebar .widget_archive li,
	.primary-sidebar .widget_categories li,
	.primary-sidebar .widget_links li,
	.primary-sidebar .widget_meta li,
	.primary-sidebar .widget_nav_menu li,
	.primary-sidebar .widget_pages li,
	.primary-sidebar .widget_recent_comments li,
	.primary-sidebar .widget_recent_entries li {
		border-top: 0;
		padding: 0 0 6px;
	}

	.footer-sidebar .widget_archive li:last-child,
	.footer-sidebar .widget_categories li:last-child,
	.footer-sidebar .widget_links li:last-child,
	.footer-sidebar .widget_meta li:last-child,
	.footer-sidebar .widget_nav_menu li:last-child,
	.footer-sidebar .widget_pages li:last-child,
	.footer-sidebar .widget_recent_comments li:last-child,
	.footer-sidebar .widget_recent_entries li:last-child,
	.primary-sidebar .widget_archive li:last-child,
	.primary-sidebar .widget_categories li:last-child,
	.primary-sidebar .widget_links li:last-child,
	.primary-sidebar .widget_meta li:last-child,
	.primary-sidebar .widget_nav_menu li:last-child,
	.primary-sidebar .widget_pages li:last-child,
	.primary-sidebar .widget_recent_comments li:last-child,
	.primary-sidebar .widget_recent_entries li:last-child {
		padding: 0;
	}

	.footer-sidebar .widget_categories li ul,
	.footer-sidebar .widget_nav_menu li ul,
	.footer-sidebar .widget_pages li ul,
	.primary-sidebar .widget_categories li ul,
	.primary-sidebar .widget_nav_menu li ul,
	.primary-sidebar .widget_pages li ul {
		border-top: 0;
		margin-top: 6px;
	}

	#supplementary {
		padding: 0;
	}

	.footer-sidebar {
		font-size: 12px;
		line-height: 1.5;
	}

	.featured-content {
		padding-left: 182px;
	}

	.grid .featured-content .hentry {
		width: 33.3333333%;
	}

	.grid .featured-content .hentry:nth-child( 2n+1 ) {
		clear: none;
	}

	.grid .featured-content .hentry:nth-child( 3n+1 ) {
		clear: both;
	}

	.grid .featured-content .entry-header {
		height: 120px;
	}
}

@media screen and (min-width: 1040px) {
	.site-content .has-post-thumbnail .entry-header {
		margin-top: -48px;
	}

	.archive-header,
	.comments-area,
	.image-navigation,
	.page-header,
	.page-content,
	.post-navigation,
	.site-content .entry-header,
	.site-content .entry-content,
	.site-content .entry-summary,
	.site-content footer.entry-meta {
		padding-right: 15px;
		padding-left: 15px;
	}

	.full-width .archive-header,
	.full-width .comments-area,
	.full-width .image-navigation,
	.full-width .page-header,
	.full-width .page-content,
	.full-width .post-navigation,
	.full-width .site-content .entry-header,
	.full-width .site-content .entry-content,
	.full-width .site-content .entry-summary,
	.full-width .site-content footer.entry-meta {
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media screen and (min-width: 1080px) {
	.search-box .search-field {
		width: 324px;
	}

	.site-content,
	.site-main .widecolumn {
		// margin-left: 222px;
	}

	.site:before {
		width: 222px;
	}

	.search-box-wrapper,
	.featured-content {
		padding-left: 222px;
	}

	#secondary {
		width: 162px;
	}

	.secondary-navigation,
	.secondary-navigation ul ul {
		width: 222px;
	}

	.secondary-navigation ul li:hover > ul,
	.secondary-navigation ul li.focus > ul {
		left: 202px;
	}

	.slider .featured-content .entry-title {
		font-size: 33px;
	}

	.slider .featured-content .entry-header,
	.slider-control-paging {
		width: 534px;
	}

	.slider-control-paging {
		padding-left: 24px;
	}

	.slider-control-paging li {
		margin: 12px 12px 12px 0;
	}

	.slider-control-paging a {
		height: 24px;
		width: 24px;
	}

	.slider-control-paging a:before {
		top: 6px;
		left: 6px;
	}
}

@media screen and (min-width: 1110px) {
	.archive-header,
	.comments-area,
	.image-navigation,
	.page-header,
	.page-content,
	.post-navigation,
	.site-content .entry-header,
	.site-content .entry-content,
	.site-content .entry-summary,
	.site-content footer.entry-meta {
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media screen and (min-width: 1218px) {
	.archive-header,
	.comments-area,
	.image-navigation,
	.page-header,
	.page-content,
	.post-navigation,
	.site-content .entry-header,
	.site-content .entry-content,
	.site-content .entry-summary,
	.site-content footer.entry-meta {
		margin-right: 54px;
	}

	.full-width .archive-header,
	.full-width .comments-area,
	.full-width .image-navigation,
	.full-width .page-header,
	.full-width .page-content,
	.full-width .post-navigation,
	.full-width .site-content .entry-header,
	.full-width .site-content .entry-content,
	.full-width .site-content .entry-summary,
	.full-width .site-content footer.entry-meta {
		margin-right: auto;
	}
}

@media screen and (min-width: 1260px) {
	.site-content blockquote.alignleft,
	.site-content blockquote.alignright {
		width: -webkit-calc(50% + 18px);
		width:         calc(50% + 18px);
	}

	.site-content blockquote.alignleft {
		margin-left: -18%;
	}

	.site-content blockquote.alignright {
		margin-right: -18%;
	}
}


/**
 * 12.0 Print
 * -----------------------------------------------------------------------------
 */

@media print {
	body {
		background: none !important; /* Brute force since user agents all print differently. */
		color: #2b2b2b;
		font-size: 12pt;
	}

	.site,
	.site-header,
	.hentry,
	.site-content .entry-header,
	.site-content .entry-content,
	.site-content .entry-summary,
	.site-content .entry-meta,
	.page-content,
	.archive-header,
	.page-header,
	.contributor-info,
	.comments-area,
	.attachment .entry-attachment .attachment {
		max-width: 100%;
	}

	#site-header img,
	.search-toggle,
	.site-navigation,
	.site-content nav,
	.edit-link,
	.page-links,
	.widget-area,
	.more-link,
	.post-format-archive-link,
	.comment-respond,
	.comment-list .reply,
	.comment-reply-login,
	#secondary,
	.site-footer,
	.slider-control-paging,
	.slider-direction-nav {
		// display: none;
	}

	.site-title a,
	.entry-meta,
	.entry-meta a,
	.featured-content .hentry,
	.featured-content a {
		color: #2b2b2b;
	}

	.entry-content a,
	.entry-summary a,
	.page-content a,
	.comment-content a {
		text-decoration: none;
	}

	.site-header,
	.post-thumbnail,
	a.post-thumbnail:hover,
	.site-content .entry-header,
	.site-footer,
	.featured-content,
	.featured-content .entry-header {
		background: transparent;
	}

	.header-main {
		padding: 48px 10px;
	}

	.site-title {
		float: none;
		font-size: 19pt;
	}

	.content-area {
		padding-top: 0;
	}

	.list-view .site-content .hentry {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		margin-bottom: 48px;
		padding-bottom: 24px;
	}

	.post-thumbnail img {
		margin: 0 10px 24px;
	}

	.site-content .has-post-thumbnail .entry-header {
		padding-top: 0;
	}

	.site-content footer.entry-meta {
		margin: 24px auto;
	}

	.entry-meta .tag-links a {
		color: #fff;
	}

	.singular .site-content .hentry.has-post-thumbnail {
		margin-top: 0;
	}

	.gallery-columns-1.gallery-size-medium,
	.gallery-columns-1.gallery-size-thumbnail,
	.gallery-columns-2.gallery-size-thumbnail,
	.gallery-columns-3.gallery-size-thumbnail {
		display: block;
	}

	.archive-title,
	.page-title {
		margin: 0 10px 48px;
	}

	.featured-content .hentry {
		margin-bottom: 48px;
	}

	.featured-content .post-thumbnail,
	.slider .featured-content .post-thumbnail {
		padding-top: 0;
	}

	.featured-content .post-thumbnail img {
		position: relative;
	}

	.featured-content .entry-header {
		padding: 0 10px 24px;
	}

	.featured-content .entry-meta {
		font-size: 9pt;
		margin-bottom: 11px;
	}

	.featured-content .cat-links {
		font-weight: 900;
	}

	.featured-content .entry-title {
		font-size: 25pt;
		line-height: 36px;
	}
}


// CUSTOM MEDIA QUERIES

@media all and (min-width: 699px) { 

	.menu-toggle { 
		height: 55px;
	}
	.menu_button { 
		width:70%;
		height: 100%;
	}

		.button_text { 
			padding-left: 2em;
		}

		img { 
			padding: .5em;
		}
		
	}

	.site-content.button-page-margins {
		margin: 0 100px;

	}


@media all and (max-width: 997px) { 
	.primary-navigation .menu-toggle {
		display: block;
		padding: 0;
	}

	
}

@media all and (max-width:360px) { 

	.logo { 
		max-width: 87% !important;
		margin-top: 0.5em;
	}
}

@media all and (max-width: 699px) { 
	.site-content.button-page-margins {
		margin: 0 10px;
	}

	.menu_button{
		width: 100%;
		height: 100%;
		.button_text {
			padding-left: 5em;
			padding-right: 2em;
		}
	}
	.menu-toggle { 
		margin-top: 10px !important;
	}
	.contact_form { 
		.contact_name, .contact_email, .contact_subject { 
			input { 
				max-width: 200px;
			}

		}
	}

	.slides { 
		li { 
			.slide-text { 
				display: none;
			}
		}
	}

	select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required { 
		width: 200px;
	}
	
	textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required { 
		max-width: 525px;
	}

}


@media (max-width: 480px) { 
	// .scroll-top { 
	// 	font-size: 10px;
	// 	right: 1em;
	// }	

	.search-toggle { 
		position: relative;
		left: 50px;
	}

	.flexslider{
		border:none;
		margin-top: -50px;
		margin-bottom: -40px;
		background-color: rgba(255,250,250,0);
	}
}

@media (max-width: 400px) { 
.search-box-wrapper {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
position: relative;
top: 125px;
// right: -7px;
left:80px;
width: 100%;
z-index: -1;
}

.search-toggle{
	// position: relative;
	// left:45px;
}
	 }

.no_result_search_submit { 
	margin-top: 1em;
	width: 100%
}
.no_result_search-field { 
	width: 100%;
}


@media (min-width: 401px) and (max-width: 705px) { 

.site-header{
	height:100px;
}

.search-toggle{
	position:absolute;
	cursor: pointer;
	float: none !important;
	font-size: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	right: 0;
	// bottom:20px;
	margin-right: 0 !important;
	// right:-3em;
}

.search-box-wrapper {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
position:relative;
top:105px;
width: 100%;
z-index: -1;
}

.custom_search { 
	right: 0 !important;
}
}




@media (min-width: 481px) and (max-width: 705px) { 
	.search-toggle{
	// position:relative;
	top:45px;
}
	}


@media (min-width: 700px) and (max-width: 1042px) { 
.menu_button { 
		width:100%;
		height: 100%;
	}


.site-content.button-page-margins {
		margin:auto;
		margin-left: 4px;
		margin-right: 4px;

	}

}