// Navigation Menu
	.primary-navigation ul ul li:hover > ul,
	.primary-navigation ul ul li.focus > ul {
		top: 3.5em;
	}
	.current_page_item {
	font-weight: 700;
	}



// Breadcrumbs 

.breadcrumbs {
	padding-top: 5px;
	text-align: center;
	font-style: italic;
	color: #299546;
		a.post.post-page.current-item { 
			font-weight: 700;
		}
	}


// /**
//  * 5.0 Navigation
//  * -----------------------------------------------------------------------------
//  */

// .site-navigation ul {
// 	list-style: none;
// 	margin: 0;
// }

// .site-navigation li {
// 	border-top: 1px solid rgba(255, 255, 255, 0.2);
// 	// width: 50%;
// 	margin: 0 auto;
// 	font-size: 1.5em;
// 	font-weight: 600;
// }

// .site-navigation ul ul {
// 	margin-left: 20px;
// }

// .site-navigation a {
// 	color: #fff;
// 	display: block;
// }

// .site-navigation a:hover {
// 	color: #0C1DE8;
// 	font-weight: 700;
// }

// .site-navigation .current_page_item > a,
// .site-navigation .current_page_ancestor > a,
// .site-navigation .current-menu-item > a,
// .site-navigation .current-menu-ancestor > a {
// 	// color: #1B1DE8;
// 	font-style: italic;
// 	font-weight: 700;
// }

// // .site-navigation { 
// // 	.current_page_item > a {
// // 		&:before { 
// // 			content: "";

// // 		}
	
// // 	}
// // }

// /* Primary Navigation */

// .primary-navigation {
// 	-webkit-box-sizing: border-box;
// 	-moz-box-sizing:    border-box;
// 	box-sizing:         border-box;
// 	font-size: 14px;
// 	padding-top: 24px;
// 	margin: 0 auto;
// 	// text-align: center;
// }

// .primary-navigation.toggled-on {
// 	padding: 72px 0 36px;
// }

// .primary-navigation .nav-menu {
// 	// border-bottom: 1px solid rgba(255, 255, 255, 0.2);
// 	display: none;
// 	padding: 0 55px;
// }

// .primary-navigation.toggled-on .nav-menu {
// 	display: block;
// }

// .primary-navigation a {
// 	padding: 7px 0;
// }

/* Secondary Navigation */

.secondary-navigation {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	font-size: 12px;
	margin: 48px 0;
}

.secondary-navigation a {
	padding: 9px 0;
}

.menu-toggle {
	background-color: #000;
	border-radius: 0;
	cursor: pointer;
	font-size: 0;
	// height: 55px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	width: 85px;
}

.menu-toggle:before {
	color: #fff;
	content: "\f419";
	display: inline;
	font-size: 30px !important;
	margin-top: 10px;
}

.menu-toggle:active,
.menu-toggle:focus,
.menu-toggle:hover {
	background-color: #444;
}

.menu-toggle:focus {
	// outline: 1px dotted;
}


.sidr { 
	background: #2E3092;
	overflow: hidden;
}

.scroll-top { 
	position: fixed;
	border-radius: 30%;
	right:0.6em;
	bottom: 1em;
	background: $navcolor;
	opacity: 0.8;
	padding: 0.5em;
	color: #fff;
	line-height: 1;
	font-weight: 700;
	z-index:1;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
		&:hover { 
			opacity:1;
			color: #fff;
		}
}


nav { 
	overflow: hidden;
}

div.menu-menu-2-container {
	overflow: hidden;
}
