// Navigation Menu
	.primary-navigation ul ul li:hover > ul,
	.primary-navigation ul ul li.focus > ul {
		top: 3.5em;
	}
	.current_page_item {
	font-weight: 700;
	}



// Breadcrumbs 

.breadcrumbs {
	padding-top: 5px;
	text-align: center;
	font-style: italic;
	color: #299546;
		a.post.post-page.current-item { 
			font-weight: 700;
		}
	}



/* Secondary Navigation */

.secondary-navigation {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	font-size: 12px;
	margin: 48px 0;
}

.secondary-navigation a {
	padding: 9px 0;
}

.menu-toggle {
	background-color: #000;
	border-radius: 0;
	cursor: pointer;
	font-size: 0;
	// height: 55px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	width: 85px;
}

.menu-toggle:before {
	color: #fff;
	content: "\f419";
	display: inline;
	font-size: 30px !important;
	margin-top: 10px;
}

.menu-toggle:active,
.menu-toggle:focus,
.menu-toggle:hover {
	background-color: #444;
}

.menu-toggle:focus {
	// outline: 1px dotted;
}


.scroll-top { 
	position: fixed;
	border-radius: 30%;
	right:0.6em;
	bottom: 1em;
	background: $navcolor;
	opacity: 0.8;
	padding: 0 0.5em 1em 0.5em;
	color: #fff;
	font-weight: 700;
	z-index:999;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
		&:before { 
			content: '\f500';
			-webkit-font-smoothing: antialiased;
		    font: bold 20px/1 'Genericons';
		    vertical-align: middle;
		}
		&:hover { 
			opacity:1;
			color: #fff;
		}
}


.sidr { 
	background: #2E3092;
	overflow: hidden;

	.right { 
		overflow: hidden;
	}
}


nav { 
	overflow: hidden;
}

div.menu-menu-2-container {
	overflow: hidden;
}



// Search Functionality 

section.site-width .search-toggle {
	display: block;
	margin-top: 7px;
	background: none;
	font-weight: 700;
}

.custom_search { 
	background: none !important;
	// padding: 12px;
	display: block;
	position: absolute;
	top: -2.5em;
	right: 4em;
	max-width: 75%;
		.search-field { 
		max-width: 50%;
		border-radius: 0;
		margin-right: -4px;
		padding: 3px 2px 3px 6px;
	}
	.search_submit { 
		padding: 0.5em;
		background: #2E3092;
		border-radius: 0;
		text-transform: none;
		transition: all 0.3s ease;
			&:hover { 
				background: #060655;
			}
	}
}

h1.search-title {
text-align: center;
padding-bottom: 0.5em;
}



