@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/* line 3, settings.scss */
body {
  font-family: "Open Sans", Helvetica !important;
}

/* line 13, settings.scss */
section.site-width {
  max-width: 1000px;
  margin: auto;
}
/* line 17, settings.scss */
section.site-width .site-header {
  max-width: 1000px;
}
/* line 21, settings.scss */
section.site-width .logo {
  padding: 1em 0;
  max-width: 75%;
}
/* line 26, settings.scss */
section.site-width .search-toggle, section.site-width .menu-toggle {
  display: inline-block;
  background: none;
  margin-top: 10px;
}
/* line 32, settings.scss */
section.site-width .search-box-wrapper {
  margin-top: 17px;
}
/* line 34, settings.scss */
section.site-width .search-box-wrapper .search-box {
  background: #299546;
  width: 200px;
  float: right;
}
