@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body { 
	font-family: "Open Sans", Helvetica !important;
}

$navcolor: #299546;


section.site-width { 
	max-width: 1000px;
	margin: auto;

	.site-header { 
		max-width: 1000px;
	}
}