@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

@import "compass/css3/";



body, p, div { 
	font-family: "Open Sans", Helvetica !important;
	-webkit-font-smoothing: antialiased !important;
	 text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

$navcolor: #299546;
$blue: #2e3092;
$seagreen: #52be99;
$purple: #797dbb;
$red: #C21010;

// Custom Globals

	a { 
		text-decoration: none !important;
	}

	.one_half_first {
		width: 50%;
		float: left;
		clear: both;
	}

	.one_half_last { 
		width: 50%;
		float: right;
	}

	tr { 
	 &:first-child { 
		background: #2FB34B;
		color: #fff;
	 }
	 &:nth-child(even) { 
		background: #DEEAF6;
	 }
	}


.panel {
	margin-bottom: 1em !important;
	width: 80% !important;
	border: none;
	&:hover { 
		.panel { 
			background-color: $seagreen !important;
		}
		.panel-heading { 
			background-color: $seagreen !important;
		}
		.panel-body { 
			background-color: $seagreen !important;
			color: #fff;
		}

		}
	.panel-heading {
		border-radius: 0px!important;
		background-color: $navcolor !important;
		color: #fff !important;
		text-align: center !important;
		transition: all 0.5s ease;
		
		
	}
	.panel-body {
		transition: all 0.3s ease;
		color: #000 !important;
		// line-height: 1;
	
		.link_description_title{ 
			text-align: center;
			font-weight: 700 !important;
			margin-bottom: 1em;
		}

		p { 
			margin-bottom: 5px;
		}
		
	}
	a { 
		transition: all 0.3s ease;
		text-decoration: none;
			&:hover { 
				.panel-body {
					color: #fff !important;
					span { 
						color: #fff;
					}
				}
			}
	}

}

.entry-content { 
	p {
		margin-bottom: 0;
	}
}
// End of Custom Globals 


section.site-width { 
	max-width: 1000px;
	margin: auto;

	.site-title { 
		max-width: 375px;
		padding-bottom: 1em;
		// min-width: 325px;
	}

	.site-header { 
		max-width: 1000px;
		min-width: 100%
	}

	.logo { 
		// padding: 1em 0;
		max-width: 90%;
	}
	
	.menu-toggle{ 
		background: none;
		width: 48px !important;
		// margin-top: 25px;
	}

	.search-toggle { 
		display: none;
	}

}


// Menu Button Page Template

.button_text_spacing { 
		margin-top: 1em;
		margin-bottom: 1em;
}

.menu_button{
	margin:auto;
	margin-bottom: 1em;
	transition: all .5s ease;
	.button_text {
		.button_name { 
			margin-top: -4em;
			text-align: center;
			font-size: 16px;
			font-weight: 700;
		}
		.button_blurb { 
			margin-top: -3em;
			font-weight: 600;
			text-align: center;
			font-style: italic;
		}

	}	
	a { 
		color: #fff;	
		&:hover { 
			color: #fff;
		}
	}
}


// Contact Page Template 

.contact_form { 
	.contact_name, .contact_email, .contact_subject, .contact_type, .contact_message, .contact_submit { 
		text-align: center;
		input { 
			font-weight: 700;
			max-width: 300px;
			border-radius: 0;
		}
	}
	.contact_type {
		select { 
			border-color: #e5e5e5;
			padding: .5em;
			font-weight: 700;
			color: #939393;
			
		}
	}

	.contact_submit { 
		input { 
			background: $navcolor;
			transition: all .5s ease;
		}
	}
	
}

select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required { 
		width: 300px;
}

textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required { 
	font-family: "Open Sans", Helvetica;
	max-width: 700px;
	font-weight: 700;
}


// End of Contact Page CSS


//  Resources & Links Page CSS
.panel, .panel-default{
	margin:auto;
	width:60%;	
}


//  End of Resources & Links Page CSS



.flexslider li {
	/*height: 300px;*/
}

/* slider
------------------------------------------------------- */
.flexslider {
	max-width: 100%;
	// min-height: 368px;
	// margin-bottom: 80px;
	// border: 5px solid #299546;
	// -webkit-box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.2);
	// box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.2);
	box-shadow: none;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	border: 2px solid $seagreen;
	border-radius: 0px;
}
.flexslider:after {
  content: '';
  display: block;
  width: 80%;
  height: 20px;
  // border-radius: 50%;
  position: absolute;
  z-index: -1;
  bottom: -10px;
  left: 10%;
  // -webkit-box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.2);
  // box-shadow: 0 2px 10px 10px rgba(0, 0, 0, 0.2);
}

.slides{ 
	li {
		display: block;
		width: 800px;
		height: 368px;
		background-position: center;
		background-repeat: no-repeat;
			.slide-text {
				background-color: rgba(41,149,70,0.8);	
				color: #fff;
				position: absolute;
				width: 100%;
				bottom: 0px;
				max-height: 316px;
				// overflow: hidden;
				padding: 10px;
					h2 {
						font-size: 24px;
						margin-bottom: 15px;
					}
					p { 
						margin-bottom: 0;
					}
			}

	}

}


// .flex-control-nav {
//   bottom: -60px;
// }
.flex-control-nav li {
  margin: 0 2px;
}

.flex-control-paging li { 
	display: none;
}

.flex-direction-nav a { 
	height: 50px !important;
	color: #000;
	&:hover {
		color: #015697;
	}
}


// Tab Stylings
.tab-menu {
	.nav-tabs {
		border: 0px;
		li.active { 
			a {
				border: 0px;
				color: #fff;
				background: $navcolor;
				font-weight: 700;
				transition: all 0.3s ease;
					&:hover{ 
						background: $navcolor;
					}


			}
			&:after { 
				content: "";
				width: 0;
				height: 0;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-top: 10px solid $navcolor;
				display: block;
				margin: 0 auto;
			}
		}
		li {
			a { 
				padding: 0.5em;
				color: $red;
				transition: all 0.3s ease;
				font-weight: 600;
					&:hover { 
						background: $blue;
						color: #fff;
					}
					&:before { 
						content: "+ ";
					}
			}
		}
	}
}

.tab-content { 
	padding: 1em 1em 0 3em;
}