@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body { 
	font-family: "Open Sans", Helvetica !important;
	-webkit-font-smoothing: antialiased !important;
	 text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

$navcolor: #299546;
$blue: #2e3092;
$seagreen: #52be99;
$purple: #797dbb;
$red: #b21e38;

section.site-width { 
	max-width: 1000px;
	margin: auto;

	.site-title { 
		max-width: 400px;
		min-width: 325px;
	}

	.site-header { 
		max-width: 1000px;
	}

	.logo { 
		padding: 1em 0;
		max-width: 75%;
	}
	
	.menu-toggle{ 
		background: none;
		margin-top: 10px;
	}

	.search-toggle { 
		display: none;
	}
	// Site Button Styles
	div.btn { 
		background-color: #2e3092;
		position: relative;
		color: #fff;
		font-weight: 700;
		font-size: 28pt;
		max-width: 100%;

		.btn-name { 
			position: relative;
			top: -2em;
			
			// &:before { 
			// 	position: relative;
			// 	content: url(images/helping-habitat.svg);
			// 	padding-right: .5em;
			// 	top: 2.1em;
			// }
		}
	}

}

// Navigation Menu
	.primary-navigation ul ul li:hover > ul,
	.primary-navigation ul ul li.focus > ul {
		top: 3.5em;
	}

// Homepage Styles
.site-content.button-page-margins {
	margin: 0 100px;

}