@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/* line 3, settings.scss */
body {
  font-family: "Open Sans", Helvetica !important;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* line 15, settings.scss */
section.site-width {
  max-width: 1000px;
  margin: auto;
}
/* line 19, settings.scss */
section.site-width .site-title {
  max-width: 400px;
  min-width: 325px;
}
/* line 24, settings.scss */
section.site-width .site-header {
  max-width: 1000px;
}
/* line 28, settings.scss */
section.site-width .logo {
  padding: 1em 0;
  max-width: 75%;
}
/* line 33, settings.scss */
section.site-width .menu-toggle {
  background: none;
  margin-top: 10px;
}
/* line 38, settings.scss */
section.site-width .search-toggle {
  display: none;
}

/* line 46, settings.scss */
.primary-navigation ul ul li:hover > ul,
.primary-navigation ul ul li.focus > ul {
  top: 3.5em;
}

/* line 52, settings.scss */
.breadcrumbs {
  padding-top: 5px;
  text-align: center;
  font-style: italic;
  color: #299546;
}
/* line 57, settings.scss */
.breadcrumbs a.post.post-page.current-item {
  font-weight: 600;
}

/* line 65, settings.scss */
.one_half_first {
  width: 50%;
  float: left;
  clear: both;
}

/* line 71, settings.scss */
.one_half_last {
  width: 50%;
  float: right;
}

/* line 77, settings.scss */
.contact_form .contact_name, .contact_form .contact_email, .contact_form .contact_subject, .contact_form .contact_type, .contact_form .contact_message, .contact_form .contact_submit {
  text-align: center;
}
/* line 79, settings.scss */
.contact_form .contact_name input, .contact_form .contact_email input, .contact_form .contact_subject input, .contact_form .contact_type input, .contact_form .contact_message input, .contact_form .contact_submit input {
  font-weight: 700;
  max-width: 300px;
  border-radius: 0;
}
/* line 86, settings.scss */
.contact_form .contact_type select {
  border-color: #e5e5e5;
  padding: .5em;
  font-weight: 700;
  color: #939393;
}
/* line 96, settings.scss */
.contact_form .contact_submit input {
  background: #299546;
  transition: all .5s ease;
}

/* line 104, settings.scss */
select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
  width: 300px;
}

/* line 108, settings.scss */
textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
  font-family: "Open Sans", Helvetica;
  max-width: 700px;
  font-weight: 700;
}

@media all and (min-width: 699px) {
  /* line 122, settings.scss */
  .menu_button {
    width: 70%;
    height: 70px;
  }
  /* line 126, settings.scss */
  .menu_button .button_text {
    padding-left: 3em;
  }

  /* line 132, settings.scss */
  .site-content.button-page-margins {
    margin: 0 100px;
  }
}
@media all and (max-width: 699px) {
  /* line 139, settings.scss */
  .site-content.button-page-margins {
    margin: 0 10px;
  }

  /* line 143, settings.scss */
  .menu_button {
    width: 100%;
    height: 80px;
  }
  /* line 146, settings.scss */
  .menu_button .button_text {
    padding-left: 5em;
    padding-right: 2em;
  }

  /* line 154, settings.scss */
  .contact_form .contact_name input, .contact_form .contact_email input, .contact_form .contact_subject input {
    max-width: 200px;
  }

  /* line 161, settings.scss */
  select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
    width: 200px;
  }

  /* line 165, settings.scss */
  textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {
    max-width: 525px;
  }
}
