@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/* line 3, settings.scss */
body {
  font-family: "Open Sans", Helvetica !important;
}

/* line 13, settings.scss */
section.site-width {
  max-width: 1000px;
  margin: auto;
}
/* line 17, settings.scss */
section.site-width .site-title {
  max-width: 400px;
  min-width: 325px;
}
/* line 22, settings.scss */
section.site-width .site-header {
  max-width: 1000px;
}
/* line 26, settings.scss */
section.site-width .logo {
  padding: 1em 0;
  max-width: 75%;
}
/* line 31, settings.scss */
section.site-width .menu-toggle {
  background: none;
  margin-top: 10px;
}
/* line 36, settings.scss */
section.site-width .search-toggle {
  display: none;
}
